= form_tag '/dictionary', :method => :get do
  = text_field_tag :q
  = select_tag(:dict, options_for_select([["Igbo -> English", "ig-en"], ["English -> Igbo", "en-ig"]], @dict))
  = submit_tag 'Search'
  
- if @results
  %h2 Results
  %p= "Search term: #{@q}"

  - @results.each do |result|
    %p= result.definition

  = will_paginate @results
- elsif @q && !@results
  = render :partial => 'no_result'